# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db-shm
*.db-wal
*.opendb
.vs/CJ_LM/v16/TestStore/0/000.testlog
.vs/CJ_LM/v16/ipch/AutoPCH/477774df58bdedb0/MATRIX.ipch
